body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.is-toggled {
    color: white;
    background-color: black;
}